.c-slide-titles__container {
	transition transform .7s .7s $ease-out-quart, opacity .5s .7s $ease-out-quart
	transform translateY(0) translateZ(0)
	opacity 0

	&.is-current {
		opacity 1
		transform translateY(0) translateZ(0)
	}
	&.is-prev {
		opacity 0
		transform translateY( -20px ) translateZ(0)
	}
	&.is-next {
		opacity 0
		transform translateY( 20px ) translateZ(0)
	}
}