
<div :class="'c-slide o-wrapper--panel o-wrapper--valign u-fit u-vacuum | '+ 'is-' + status" >
<!-- PICTURE SHOULD BE THE STUFF DOWNSIDE THIS COMMENT -->
	<div class="c-slide__wrapper u-force-3d u-fit-w u-inline-block u-valign-middle" v-el:picture>  
		<div class="c-slide__img__container u-overflow-h u-fit">
			<div class="c-slide__img u-fit u-overflow-h u-valign-middle u-relative u-inline-block" >
				<img :src="content.picture" class="u-block u-absolute u-pos-y-center u-fit-w"/>
			</div>
		</div>
	</div>
</div>