// --------------------------------------------------
// Buttons
// --------------------------------------------------


.t-btn {
    @extends $reset-input
    @extends $reset-link

    font-size $font-size-lg
    font-family $font-bold
}
