// --------------------------------------------------
// headings
// --------------------------------------------------

.t-h1 {
	@extends $reset-heading
	
	font-size $font-size-h1
	font-family $font-base
	font-weight 400
	
}

.t-h2 {
	@extends $reset-heading
	
	font-size $font-size-h2
	font-family $font-base
	font-weight 400
}

.t-h3 {
	@extends $reset-heading
	
	font-size $font-size-h3
	font-family $font-serif
	font-weight 400
}

.t-h4 {
	@extends $reset-heading
	
	font-size $font-size-h4
	font-family $font-base
	font-weight 400
}

.t-h5 {
	@extends $reset-heading

	font-size $font-size-h5
	font-family $font-base
	font-weight 400
}

.t-h6 {
	@extends $reset-heading

	font-family $font-semi-bold
	font-size $font-size-h6
}