.t-icon {
	position relative
	display inline-block
}

.t-icon--tweet {
	width  18px
	height 14px
}

.t-icon--facebook {
	width  14px
	height 14px
}

.t-icon--retweet {
	width  12px
	height 9px
}

.t-icon--retweet-big {
	width  15px
	height 12px	
}

.t-icon--fav {
	width 12px
	height 9px
}

.t-icon--like {
	width  12px
	height 11px
}

.t-icon--vimeo {
	width  15px
	height 14px
}

.t-icon--play-big {
	width  23px
	height 29px
}

.t-icon--share-linkedin {
	width  13px
	height 13px
}

.t-icon--share-pinterest {
	width  13px
	height 13px
}

.t-icon--share-fb {
	width  8px
	height 16px
}

.t-icon--share-twitter {
	width  16px
	height 16px
}

.t-icon--close {
	width  10px
	height 10px
}

.t-icon--arrow-bottom {
	width  12px
	height 6px
}

.t-icon--arrow-right {
	width  16px
	height 9px
}